
    /*      Background styles        */

    body {
        background-image: url('images/contact.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        image-rendering: auto; 
      }


      
      
      